@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

*,
*:before,
*::after {
	box-sizing: border-box;
}

html,
body,
#svelte {
	width: 100%;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--color-black-s2);
	font-family: "Open Sans", sans-serif;
	color: var(--color-gray-s2);
}
input,
textarea {
	font-family: "DM Sans", sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-gray-s1);
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
	font-size: var(--fs-body);
	line-height: 1.4;
}

h1 {
	font-size: var(--fs-h1);
}
h2 {
	font-size: var(--fs-h2);
}
h3 {
	font-size: var(--fs-h3);
}
h4 {
	font-size: var(--fs-h4);
}
h5 {
	font-size: var(--fs-h5);
	font-weight: var(--fw-md);
}
h6 {
	font-size: var(--fs-body);
	font-weight: var(--fw-md);
}
.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.651);
	z-index: 400;
}
.focused-input {
	border: 1px solid #5865f2 !important;
	transition: border 0.15s linear;
}
.focused-input::after {
	content: "";
	position: absolute;
	display: block;
	top: -5px;
	bottom: -5px;
	right: -5px;
	left: -5px;
	border: 5px solid #5865f256 !important;
	border-radius: inherit;
}
.input--error {
	border: 1px solid #e01e5a !important;
	transition: border 0.15s linear;
}
.input--error::after {
	content: "";
	position: absolute;
	display: block;
	top: -5px;
	bottom: -5px;
	right: -5px;
	left: -5px;
	border: 5px solid #e01e5b73 !important;
}

::-webkit-scrollbar {
	background-color: rgba(32, 34, 37, 0.322);
	width: 13px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(12, 11, 14, 0.637);
	border-radius: 50px;
}

:root {
	--color-black-s1: #1a1d21;
	--color-black-s2: #23272a;
	--color-black-s3: #202225;

	--color-gray-s1: #f6f6f6;
	--color-gray-s2: #dcddde;
	--color-gray-s4: #6b6c6e;
	--color-tran: rgba(114, 114, 114, 0.345);

	--color-muted: #7f838a;

	--color-blue: #5865f2;

	--fs-h1: 2.488rem;
	--fs-h2: 2.074rem;
	--fs-h3: 1.728rem;
	--fs-h4: 1.44rem;
	--fs-h5: 1.2rem;
	--fs-body: 1rem;

	--fs-sm: 0.833rem;
	--fs-xs: 0.694rem;

	--fw-bold: 700;
	--fw-md: 500;
	--fw-normal: 400;
}
